@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-fondo-principal: #181818;
  --color-fondos-barras: #202020;
  --color-texto-principal: #FFFFFF;
  --color-texto-secundario: #AAAAAA;
  --color-borde-barra: #303030;
  --color-hover-boton: #3E3E3E;
}

body {
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
}

/* Header con 3 divs */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* Primer div con dos SVG */
header > div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

/* Segundo div y barra de búsqueda */
.separador {
  display: flex;
  flex-direction: row;
}

.busqueda {
  display: flex;
  align-items: center;
  background-color: #121212;
  border: 1px solid var(--color-borde-barra);
  border-radius: 24px;
  padding-left: 16px;
  flex-grow: 1;
  min-width: 0;
  height: 40px;
  width: 500px;
}

.busqueda input[type="text"] {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0 14px;
  font-size: 16px;
}

/* Botón lupa */
.lupa {
  background-color: #303030;
  border-left: 1px solid #303030;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
}

/* Botón micrófono */
.micro {
  background-color: #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

/* Todos los botones */
button {
  border: none;
}

/* Tercer div y botón crear, campana y foto perfil */
.plus {
  display: flex;
  align-items: center;
  background-color: #2E2E2E;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 10px 16px;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

.plus:hover {
  background-color: #3E3E3E;
}

header > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

#perfil {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Estilo para los iconos del navegador */
.hoverbotones {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hoverbotones:hover {
  background-color: var(--color-hover-boton);
}

/*----------TAG---------- */
.cristal {
  background: #18181882;
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 20;
}

.tags-container {
  display: flex;
  gap: 8px;
  padding: 10px 20px;
  overflow-x: auto;
  box-sizing: border-box;
  top: 70px;
  z-index: 80;
  margin-left: 228px;
}

.tags-container::-webkit-scrollbar {
  display: none;
}

.tags-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tag {
  background-color: var(--color-borde-barra);
  color: var(--color-texto-principal);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}

.tag:hover {
  background-color: var(--color-hover-boton);
}

#todo {
  background-color: white;
  color: black;
}

/* -----LA PARTE MAIN----- */
main {
  display: flex;
  gap: 20px;
  flex: 1;
  align-items: flex-start;
}

/* ------ASIDE DEL LADO IZQUIERDO-------- */
aside {
  width: 18%;
  height:100%;
  background-color: var(--color-fondo-principal);
  position: sticky;
  overflow-y: auto;
  border: 1px solid #121212;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  padding: 10px 20px;
  cursor: pointer;
}

aside nav ul h4 {
  padding: 10px 20px;
  margin-top: 5px;
  border-top: #FFFFFF 1px solid;
  cursor: pointer;
}

.down {
  border-bottom: #FFFFFF 1px solid;
  margin-bottom: 5px;
}

aside nav ul li:hover, .hover2:hover {
  background-color: var(--color-hover-boton);
  border-radius: 24px;
}

aside nav ul li a {
  color: var(--color-texto-secundario);
  text-decoration: none;
  display: flex;
  align-items: center;
}

aside nav ul li img {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.canal {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.aside-footer {
  padding: 20px;
  font-size: 12px;
  color: var(--color-texto-secundario);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-links a {
  color: var(--color-texto-secundario);
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  margin-top: 15px;
  font-size: 11px;
}

aside {
  scrollbar-width: thin; 
  scrollbar-color: var(--color-borde-barra) var(--color-fondo-principal); /* Color del scrollbar para Firefox */
}

aside::-webkit-scrollbar-track {
  background: var(--color-fondo-principal); /* Color del fondo del scrollbar */
}

aside::-webkit-scrollbar-thumb {
  background-color: var(--color-borde-barra); /* Color del pulgar del scrollbar */
  border-radius: 20px; /* Bordes redondeados para el pulgar del scrollbar */
  border: 2px solid var(--color-fondo-principal); /* Borde alrededor del pulgar del scrollbar */
}

/* ----Caja de video----- */
.videos-fila {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3, 1fr));
  gap: 20px;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilos de cada video */
.video {
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilos de la imagen del video */
.imagen-video {
  width: 100%;
  border-radius: 10px;
}

/* Estilos de la información del video */
.video-info {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.user {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 30px;
}

.detalles {
  flex: 1;
}

.detalles h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.detalles p {
  font-size: 14px;
  color: var(--color-texto-secundario);
  margin-bottom: 5px;
}


/* Media Queries para hacer el diseño responsive */
/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {
  header > div:last-child,
  .tags-container {
    display: none;
  }

  .busqueda {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

  main {
    margin-left: 0;
    width: 100%;
  }

  .videos-fila {
    grid-template-columns: 1fr;
  }

  .video {
    max-width: 100%;
  }

  .imagen-video {
    height: auto;
  }

  aside {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .busqueda {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }

  .tags-container {
    margin-left: 0;
  }

  .videos-fila {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajusta el tamaño mínimo de los videos */
    gap: 10px; /* Reduce el espacio entre los videos */
  }

  .video {
    max-width: 100%;
  }

  .imagen-video {
    height: auto;
  }

  aside {
    width: 40%;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .busqueda {
    width: 500px;
  }

  .tags-container {
    margin-left: 228px;
  }

  aside {
    display: block;
    width: 18%;
  }

  .videos-fila {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
